<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <style>
        th {
            background: lightsalmon;
        }
        table {
            border-collapse: collapse;
            background: mistyrose;
        }
        th, td {
            padding: 5px;
        }
    </style>
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Компания</th>
                    <th>Модель</th>
                    <th>Цена, &#x20bd;</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${cars.isEmpty()}">
                    <td colspan="3" align="center">No cars available</td>
                </tr>
                <tr th:each="car : ${cars}">
                    <td th:text="${car.getCompany()}"></td>
                    <td th:text="${car.getModel()}"></td>
                    <td th:text="${car.getPrice()}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>